{% extends "base.html" %}

{% block title %}
About - URL Shortener
{% endblock %}


{% block content %}

<section class="hero">

    <h1>About URL Shortener</h1>

    <p style="max-width:800px; margin:auto; line-height:1.8;">

        URL Shortener is a fast, secure and reliable platform
        that helps you convert long URLs into short and easy-to-share links.

        <br><br>

        Our goal is to provide a simple URL management platform
        with features like custom aliases, dashboard management
        and click tracking.

    </p>

</section>

{% endblock %}
