{% extends "base.html" %}

{% block title %}
Home - URL Shortener
{% endblock %}


{% block content %}

<section class="hero">

    <h1>Shorten Your Long URLs</h1>

    <p>
        Fast, Secure and Reliable URL Shortener.
    </p>


    <div class="shortener-box">

        <form method="POST">

            <input
                type="url"
                name="url"
                placeholder="Paste your long URL here..."
                required>


            <input
                type="text"
                name="custom_alias"
                placeholder="Custom Alias (Optional)"
                maxlength="30">


            <button type="submit">
                Shorten URL
            </button>

        </form>


        {% if error %}

        <p style="color:red; margin-top:15px;">
            {{ error }}
        </p>

        {% endif %}



        {% if short_url %}

        <div class="result">

            <h3>Your Short URL</h3>


            <input
                id="shortLink"
                type="text"
                value="{{ short_url }}"
                readonly>


            <div style="margin-top:15px; display:flex; gap:10px; justify-content:center; flex-wrap:wrap;">


                <button
                    type="button"
                    onclick="copyLink(document.getElementById('shortLink').value)">
                    📋 Copy
                </button>


                <a href="{{ short_url }}" target="_blank">

                    <button type="button">
                        🔗 Open
                    </button>

                </a>


            </div>

        </div>

        {% endif %}


    </div>

</section>



<section class="features">


    <div class="card">

        <h2>Fast</h2>

        <p>
            Create short links instantly.
        </p>

    </div>



    <div class="card">

        <h2>Secure</h2>

        <p>
            Your links stay safe and protected.
        </p>

    </div>



    <div class="card">

        <h2>Analytics</h2>

        <p>
            Track every click in real time.
        </p>

    </div>


</section>

{% endblock %}
