<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Login - aShort</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<section class="hero">

    <div class="shortener-box">

        <h1>🔐 Login</h1>


        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <p class="{{ category }}">
                        {{ message }}
                    </p>

                {% endfor %}

            {% endif %}

        {% endwith %}


        <!-- Login Form -->
        <form method="POST">

            <!-- Username -->
            <input
                type="text"
                name="username"
                placeholder="Username"
                autocomplete="username"
                required>


            <!-- Password -->
            <input
                type="password"
                name="password"
                placeholder="Password"
                autocomplete="current-password"
                required>


            <!-- Login Button -->
            <button type="submit">
                Login
            </button>

        </form>


        <!-- Register -->
        <p>
            Don't have an account?

            <a href="{{ url_for('auth.register') }}">
                Register
            </a>
        </p>

    </div>

</section>

</body>

</html>
