<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - aShort</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<section class="hero">

    <div class="shortener-box">

        <h1>🔐 Login</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="/auth/register">
                Register
            </a>
        </p>

    </div>

</section>

</body>
</html>
