{% extends "base.html" %}

{% block title %}
Privacy Policy
{% endblock %}


{% block content %}

<section class="hero">

<h1>Privacy Policy</h1>


<div style="max-width:900px;margin:auto;text-align:left;line-height:1.8;">


<h2>Information We Collect</h2>

<p>
We may collect shortened URLs, click statistics and basic usage data.
</p>


<h2>Use of Information</h2>

<p>
We use information to improve our service and user experience.
</p>


<h2>Cookies</h2>

<p>
Cookies may be used to improve website performance.
</p>


<h2>Contact</h2>

<p>
For any privacy questions, contact us through our Contact page.
</p>


</div>

</section>

{% endblock %}
