{% extends "base.html" %}

{% block title %}
Terms & Conditions
{% endblock %}


{% block content %}

<section class="hero">

<h1>Terms & Conditions</h1>


<div style="max-width:900px;margin:auto;text-align:left;line-height:1.8;">


<h2>Acceptance</h2>

<p>
By using our website, you agree to these terms.
</p>


<h2>Usage</h2>

<p>
You must not use this service for illegal or harmful activities.
</p>


<h2>Service Availability</h2>

<p>
We may update or modify the service anytime.
</p>


<h2>Disclaimer</h2>

<p>
We are not responsible for misuse of generated links.
</p>


</div>

</section>

{% endblock %}
